#fakeButton {
    width: 300px;
    height: 300px;

}
.product {
	width: 30%;
	margin: 30px;
}
.form-group {
	width: 30%;
	margin: 30px;
}



#additionalSignUp{
    color: blue 
}
.form-control {
    padding: 6px 17px;
    border-radius: 0px;
}

#myNumber.form-control.input-number {
    width: 55px;
}

body {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
            background: #fafafa;
            min-height:1050px;
}

button {
    border: 1px solid #ddd;
    border-radius: 0px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    letter-spacing: 1px;font-weight: 100;
}

/* .user-drawings-display {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 30px;
    max-width: 768px;
    padding-top: 30px;
} */

#heart-gif {
    border: 1px solid #ddd; 
    border-radius: 10px;
}

#dropdown {
	float: right;
    margin-right: 3%;
    margin-top: -1%;
}
    
#selectBar {
    width: 200px;
    height: 48px;
    font-size: 18px;
    border: 2px solid #75c0d8;
    background: #fff;
}

#blue {
background:blue; 
width:48px; 
height: 48px;
border-radius: 30px;
margin: 3px;
}

#lightblue {
	background:lightblue; 
	width:48px; 
    height: 48px;
    border-radius: 30px;
    margin: 3px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#green {
	background:green; 
	width:48px; 
    height: 48px;
    border-radius: 30px;
    margin: 3px;
}

#red {
	background:red; 
	width:48px; 
    height: 48px;
    border-radius: 30px;
    margin: 3px;
}

#purple {
	background:purple; 
	width:48px; 
    height: 48px;
    border-radius: 30px;
    margin: 3px;
}

#orange {
	background:orange; 
	width:48px; 
    height: 48px;
    border-radius: 30px;
    margin: 3px;
}


#brown {
	background:brown; 
	width:48px; 
    height: 48px;
    border-radius: 30px;
    margin: 3px;
}

#gold {
	background:gold; 
	width:48px; 
    height: 48px;
    border-radius: 30px;
    margin: 3px;
}



#black {
	background:black; 
	width:48px; 
    height: 48px;
    border-radius: 30px;
    margin: 3px;
}

#silver {
	background:silver; 
	width:48px; 
    height: 48px;
    border-radius: 30px;
    margin: 3px;
}

#music {
	display:none;
}



#musicOn, #musicOff {
width: 48px; 
padding:8px;
}


#numberPicker {
    display: inline-flex;
    margin-left: 2%;
}

#colorWheelDemo.wheel button {
    border: none;
    outline:none;
}


#colorWheelDemo.wheel {
    float: left;
    width: 120px;
    position: absolute;
    margin-top: 8px;
    margin-left: 2%;
    background: #fff;
    padding: 4px;
    border: 1px solid #ddd;
    padding-bottom: 10px;
    border-radius: 10px;
    padding-top: 7px;
}


.input-group-btn {
    display: contents;
}


#draw {
    border: 1px solid #ddd;
    cursor: url(https://i.imgur.com/LX3mPI6.png), auto;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 15%;
    background: #fff;
    border-radius: 15px;
    margin-top:2px;
}

/* navigation css */

.mainnav {
    display: flex;
    margin-bottom: 27px;
    border-bottom: 1px solid #d4d4d4;
    background: #fff;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(60,65,70,0.1);
}


.mainnav img {
    margin-top: 5px;
    width: 185px;
    padding-top: 4px;
    padding-bottom: 5px;
    margin-left: 22px;
    margin-right: 15px;
}
.drawing-card{
    border: 1px solid red
}

.rightnav {
    overflow: hidden;
    width: 15%;
    float: left;
    color: #222;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
}


/* Ending navigation css */


#typing {
    width: 40px;
    padding-left: 12px;
    padding-right: 2px;
}

#typingnow {
    margin-top:1%;
    left: 20.6%;
    position: absolute;
    z-index: 2;
    font-size: 20px;
}

#restart {
    width: 51px;
    padding-left: 21px;
    padding-right: 6px;
}

#eraser {
    width: 48px;
    padding-left: 11px;
    padding-right: 7px;
    padding-bottom: 2px;
}


.logo img {
	margin-right: 20px;
}



.topnav {
    overflow: hidden;
    display: inline-flex;
    width: 100%;
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	color: #222;
	text-align: center;
	padding: 14px 18px;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #e69700;
	color: white;
  }